/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 0; /* Remove margin from everything */
    padding: 0;
}

.container {
    margin: 20px; /* Keep space for the rest of the content */
}

header {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    position: relative; /* Keep it in normal flow */
}

#header-placeholder {
    margin: 0 !important;
    padding: 0 !important;
    display: block;
    width: 100%;
}

/* Map container styling */
#mapContainer {
    position: relative;
    width: 100%;
}

/* Table styling */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid black;
    padding:5px;
    text-align: center;
    vertical-align: middle;
    width: 45px;
    height: 45px;
    /* Ensure consistent cell size */
}

/* Highlighted cell styling */
td.highlighted {
    background-color: yellow;
    font-weight: bold;
    border-color: red;
    border-width: 5px;
    padding: 2px;
}

#controls {
    text-align: center;
    margin: 20px;
}

select,
input,
button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

select {
    font-size: 16px;
    height: 42px;
    width: 200px;
}

td.additionalHighlight {
    font-weight: bold;
    border-color: blue;
    border-width: 5px;
    padding: 2px;
}

.sid {
    font-size: 13px;
    font-weight: bold;
    display:block;
    width:45px;
    /* Slightly larger for sid */
}

.msid {
    font-size: 10px;
    /* Regular size for msid */
}
