/* General page styling */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

/* Map container styling */
#mapContainer {
    position: relative;
    width: 100%;
}

/* Table styling */
table {
    border-collapse: collapse;
    margin: 0 auto;
}

td,
th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    min-width: 30px; 
    vertical-align: middle;
    /* Ensure consistent cell size */
}

/* Highlighted cell styling */
td.highlighted {
    background-color: yellow;
    font-weight: bold;
    border-color: red;
    border-width: 10px;
    padding: 2px;
}

#controls {
    text-align: center;
    margin: 20px;
}

select,
input,
button {
    margin-right: 10px;
    padding: 10px;
    font-size: 16px;
}

button {
    cursor: pointer;
}

select {
    font-size: 16px;
    height: 42px;
    width: 200px;
}

td.additionalHighlight {
    font-weight: bold;
    border-color: blue;
    border-width: 10px;
    padding: 2px;
}

.sid {
    font-size: 14px;
    font-weight: bold;
    /* Slightly larger for sid */
    /* font-weight: bold; */
}

.msid {
    font-size: 10px;
    /* Regular size for msid */
}
