.icon-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px;
}

.home-icon {
    width: 80px; /* Adjust the size of the icons as needed */
    height: auto;
    cursor: pointer;
    transition: transform 0.3s;
}

.home-icon:hover {
    transform: scale(1.1); /* Slightly enlarge the icon on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .icon-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
}

@media (max-width: 480px) {
    .icon-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}
